*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./../images/stock-photo-creative-prismatic-background-polygonal-pattern.jpeg);
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content:space-between;
    height: 60px;
    background-color: aliceblue;

}
.brand{
    padding: 10px;
    color:#141E46 ;
    margin-left: 50px;
}
ul{
    display: flex;
    align-items: center;
    padding: 10px;
    position:relative;
}
ul li{
    list-style: none;
}
ul li a{
    color: #141E46;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin-right: 76px;
    transition: .4s ease-in;
}
ul li :hover{
    background-color: chocolate;
    padding: 10px;
    border-radius: 10px;
}
/* body part */
.info{
    background-color: aliceblue;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    padding: 20px;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
}
.info p{
    margin: 6px;
    font-size: 22px;
}
.info a{
    margin-left: 40%;
    background-color: aqua;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    border-radius: 10px;
    transition: .3s ease-in;
}
.info a:hover{
    background-color: rgba(234, 234, 12,.9);
    color: rgb(21, 22, 23);
    transform: scale(1.3);
}

span{
    color:orange;
    font-weight: bold;
}
/* image property */
img{
    position: absolute;
    right: 1%;
    top: 20%;
    bottom:0%;
    width: 700px;
    height: 80vh;
    transition: .3s ease;
}
img:hover{
    left: 50%;
    width:500px;
    height: 70vh;
}
.icons{
    position: absolute;
    left: 20%;
    bottom:10%;
    font-size: 40px;
}
.icons i{
    padding: 10px;
    border-radius: 10px;
    margin:0px 30px ;
    color:aliceblue;
    background-color:#141E46;

}
.icons i:hover{
    transform: scale(1.2);
}